*{
    font-family: 'Roboto', sans-serif;
}
#purchased_vouchers{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4,1fr);
    width: 95%;
    margin: auto;
    gap: 40px;
    margin-top: 50px;
}

.voucher{
    width: 85%;
    padding-bottom: 20px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border-radius: 5px;
}
.image{
    height: 400px;
    margin-top: 20px;
    height: 300px;
    margin-left: 15%;
    border-radius: 10px;
}

#name{
    margin-left: 15%;
}

#price{
    margin-left: 15%;
}

.button{
    margin-left: 15%;
    background-color: white;
    border-radius: 5px;
    border: 0px;
    height: 30px;
}

.button:hover{
    color: white;
    background-color: black;
}

#navbar{
    border: 1px solid black;
    display: flex;
    height: 50px;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-size: 20px;
    align-items: center;
}

#navbar>a{
    align-items: center;
    justify-content: center;
    display: flex;
}
a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: red;
}